@page "/login"
@layout EmptyLayout

<PageTitle>Login - bussin</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to bussin</h1>
                <p class="lead">A zero-backend tool for exploring and managing Azure Service Bus.</p>
                <hr class="my-4">
                <p>Sign in with your Azure account to get started.</p>
                <a class="btn btn-primary btn-lg" href="authentication/login" role="button">Sign In</a>
                
                <div class="mt-4">
                    <SecurityInfoCard />
                </div>
            </div>
        </div>
    </div>
</div>
